#primary{
  & div{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  & div:nth-child(2){
    margin-inline: auto;
  }
  & div:nth-child(3){
    justify-self: end;
  }
}

#secondary{
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
  gap: 2rem; 
  overflow-x: auto; 
  white-space: nowrap; 
}
@media (width >= 80em) {
  #secondary {
    overflow-x: hidden;
    white-space: normal;
  }
}