section header{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--stroke-color);
  padding-block: .75rem 1.5rem;
  font-size: var(--fs-sm);
  line-height: 1.45;
  font-weight: var(--fw-semibold);

  & a{
    display: grid;
    grid-auto-flow: column;
    justify-self: end;
    align-items: center;
    gap: .5rem;

    & span{
      background-image: url(../assets/icon/ArrowRight.svg);
      width: 1rem;
      height: 1rem;
      background-repeat: no-repeat;
    }

    &:hover span {
      background-image: url(../assets/icon/Vector.svg);
    }
  }
}


#featured{
  margin-block: 0 1rem;
  gap: 1rem;
  & h3 {
    margin-top: .5rem;
  }
  
  & img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  & figcaption{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    color: var(--text-color-primary);
    &:has(.responsive-text) {
      padding: .75rem;
    }
  }
  &  .card{
    margin-block: 1rem;
    border-radius: .25rem;
    overflow: hidden;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        rgba(2, 6, 23, 0.9) 100%
      );
    }
  }
}

#weekly{
  padding-block: 0 2rem;
  & > div{
    gap: 2rem;
  }
  & img{
    height: 160px;
  }
  &  figure{
    position: relative;
    & .content-tag{
      position: absolute;
      top: 8px;
      left: 8px;
    }
    &  p{
      margin-top: 8px;
      font-weight: 800;
    }
  }
}


@media (width>=80em){
  #featured{

    padding-block: 2.5rem 5rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    & div{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
    & .card{
      margin: 0;
    }
  }

  #weekly{
    padding-block: 0 5rem;
    & > div{
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}


